@import '../../src/scss-bem';

@include b(menu) {
  margin: 0 0 10px 0;
  padding: 0;
  list-style: none;

  @include m(colored) {
    $base: #4c7367;

    @include contain(link) {
      color: mix(#fff, $base, 90%);
      background-color: $base;

      &:hover {
        background-color: mix(#fff, $base, 10%);
      }
    }

    @include contain(item) {
      display: block;

      @include state(active) {
        @include contain(link) {
          background-color: mix(#000, $base, 10%);
        }
      }
    }
  }

  @include m(type, hor) {
    overflow: hidden;

    @include contain(item) {
      float: left;
    }
  }


  @include e(item) {
    display: block;

    @include state(active) {
      @include contain(link) {
        background-color: #ccc;
      }
    }
  }

  @include e(link) {
    display: block;
    padding: 10px 20px;
    color: #444;
    background-color: #fff;
    text-decoration: none;

    &:hover {
      background-color: #ddd;
    }

    &:active {
      background-color: #bbb;
    }
  }
}