@import '../../src/scss-bem';

$base: #b7b7b7;
$colored: #4c7367;

@include b(menu) {
  margin: 0 0 10px 0;
  padding: 0;
  list-style: none;

  @include m(colored) {
    outline: 3px solid mix(#fff, $colored, 35%);

    @include contain(link) {
      color: mix(#fff, $colored, 90%);
      background-color: $colored;

      &:hover {
        background-color: mix(#fff, $colored, 10%);
      }
    }

    @include contain(item) {
      display: block;

      @include state(active) {
        @include contain(link) {
          background-color: mix(#000, $colored, 10%);

          &:hover {

          }
        }
      }
    }
  }

  @include m(type, hor) {
    overflow: hidden;

    @include contain(item) {
      float: left;
    }
  }

  @include e(item) {
    display: block;

    @include state(active) {
      @include contain(link) {
        background-color: mix(#000, $base, 10%);
      }
    }
  }

  @include e(link) {
    display: block;
    padding: 10px 20px;
    color: mix(#fff, $base, 90%);
    background-color: $base;
    text-decoration: none;

    &:hover {
      background-color: mix(#fff, $base, 10%);
    }

    &:active {
      background-color: #bbb;
    }
  }
}