@function b($selector) {
  $selector: selector_to_str($selector);
  $start-index: 1;
  $end-index: str_index($selector, ' ');
  $end-index-element: str_index_element($selector);
  $end-index-modifier: str_index_modifier($selector);

  @if $end-index-element != null and $end-index-element > $start-index {
    $end-index: $end-index-element - 1;
  } @else if $end-index-modifier != null and $end-index-modifier > $start-index {
    $end-index: $end-index-modifier - 1;
  } @else if $end-index == null {
    $end-index: str_length($selector);
  }

  @return str_unclassify(str_slice($selector, $start-index, $end-index));
}