@function be($selector) {
  $selector: selector_to_str($selector);
  $start-index: 1;
  $end-index: str_index_modifier($selector);

  @if $end-index == null {
    $end-index: str_index($selector, ' ');
  }

  @if $end-index == null {
    $end-index: str_length($selector);
  }

  @return str_unclassify(str_slice($selector, $start-index, $end-index));
}