@function list_join_elements($list, $join-count: length($list), $glue: ' ') {
  @if type_of($list) != list {
    @error 'You must pass list type to "list_join_elements" function';
  }
  $result: '';

  @if $join-count >= 1 {
    @for $i from 1 through $join-count {
      @if $i != 1 {
        $result: $glue + $result;
      }

      $result: $result + nth($list, $i);
    }
  }

  @return $result;
}