@function parent-to-classes-list($selector) {
  $selector: parent-to-string($selector);
  $separator: ' ';
  $list: ();
  $index: str_index($selector, $separator);

  @while $index != null {
    $list: append($list, str_slice($selector, 1, $index));
    $selector: str_slice($selector, $index + str_length($separator), str_length($selector));
    $index: str_index($selector, $separator);
  }
  $list: append($list, $selector);

  @return $list;
}